// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-logo-square {
    max-height: 80px;
    width: auto;
}

.img-logo {
    max-height: 48px;
    width: auto;
}